.cart img {
    width: 30px; /* Ajusta el ancho según tu preferencia */
    height: auto; /* Mantén la proporción de la imagen */
  }
  
  /* Estilos para la ventana emergente del carrito */
  .cart-popup {
    position: absolute;
    top: 60px; /* Ajusta la posición vertical según tu preferencia */
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: none;
    max-height: 300px; /* Altura máxima inicial */
    overflow-y: auto; /* Permitir desplazamiento vertical si hay más contenido */
  }
  
  .cart-popup.active {
    display: block;
  }
  
  .cart-popup-content {
    padding: 0; /* Elimina el relleno interno para que el contenido controle la altura */
  }
  
  /* Estilos para los elementos del carrito */
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item .product-details {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .cart-item .quantity input {
    width: 30px;
  }
  
  .cart-item .quantity button {
    margin-left: 5px;
  }
  
  /* Estilos para el botón de pago */
  #payButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #payButton:hover {
    background-color: #0056b3;
  }
  