{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Agregar Producto</title>
</head>
<body>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        <h1>Agregar Producto</h1>
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nombreart">Nombre:</label>
            <input type="text" id="id_nombreart" name="nombreart">
        </div>
        <div class="form-group">
            <label for="id_marca">Marca:</label>
            <input type="text" id="id_marca" name="marca">
        </div>
        <div class="form-group">
            <label for="id_descripcion">Descripción:</label>
            <textarea id="id_descripcion" name="descripcion"></textarea>
        </div>
        <div class="form-group">
            <label for="id_precio">Precio:</label>
            <input type="number" id="id_precio" name="precio">
        </div>
        <div class="form-group">
            <label for="id_stock">Stock Disponible:</label>
            <input type="number" id="id_stock" name="stock">
        </div>
        <div class="form-group">
            <label for="id_imagen">Imagen:</label>
            <input type="file" id="id_imagen" name="imagen">
        </div>
        <div class="button-container"> 
            <button type="submit" <a href="{% url 'inicio' %}">Agregar</a></button>
            <button type="button" class="cancel-btn"><a href="{% url 'inicio' %}">Cancelar</a></button>
        </div>
    </form>
    {% endblock %}
</body>
</html>

