<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferremas - Tu ferretería de confianza</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
  <link rel="stylesheet" href="styles.css">
  <style>
    .cart img {
      width: 30px; /* Ajusta el ancho según tu preferencia */
      height: auto; /* Mantén la proporción de la imagen */
    }
  </style>
</head>
<body>
  <header>
    <div class="logo">
      <a href="InicioUsuario.html"></a>
      <img src="images/Ferremas blanco.png" alt="Logo de Ferremas">
    </div>
    <nav>
      <ul>
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="inicio.html#productos">Productos</a></li>
        <li><a href="inicio.html#contacto">Contacto</a></li>
      </ul>
    </nav>
    <div class="user-actions">
      <button id="userBtn">
        <img src="images/user_icon_149851-removebg-preview.png" alt="Icono de usuario">
      </button>
      <div id="userDropdown" class="dropdown-content">
        <a href="PerfilUsuario.html">Perfil</a>
        <a href="Inicio.html">Cerrar sesión</a>
      </div>
      <div class="cart">
        <a href="carrito.html">
          <img src="images/carrito.png" alt="Carrito de compras">
        </a>
      </div>
    </div>
  </header>
  <br>
  <section class="carousel">
    <div class="image-container">
      <div class="slick-carousel">
        <div><img src="images/1.png" alt="Imagen 1"></div>
        <div><img src="images/2.png" alt="Imagen 2"></div>
        <div><img src="images/3.png" alt="Imagen 3"></div>
        <div><img src="images/4.png" alt="Imagen 4"></div>
      </div>
    </div>
  </section>

  <h1 class="section-title">Nuestros Productos</h1>
  
  <section class="products">
    <div class="product">
      <img src="images/Gancho.png" alt="Producto 1">
      <h3>Gancho Omega </h3>
      <p>Precio: $270</p>
      <button class="addToCartBtn">Agregar al carrito</button>
    </div>
    <div class="product">
      <img src="images/Pernos.png" alt="Producto 2">
      <h3>Perno</h3>
      <p>Precio: $690</p>
      <button class="addToCartBtn">Agregar al carrito</button>
    </div>
    <div class="product">
      <img src="images/Punta.png" alt="Producto 3">
      <h3>Punta</h3>
      <p>Precio: $790</p>
      <button class="addToCartBtn">Agregar al carrito</button>
    </div>
    <div class="product">
      <img src="images/Tarugo.png" alt="Producto 4">
      <h3>Tarugo</h3>
      <p>Precio: $70</p>
      <button class="addToCartBtn">Agregar al carrito</button>
    </div>
    <div class="product">
      <img src="images/Tornillo Autoperforante.png" alt="Producto 5">
      <h3>Tornillo Autoperforante</h3>
      <p>Precio: $5.000</p>
      <button class="addToCartBtn">Agregar al carrito</button>
    </div>
  </section>

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
