{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Ferremama</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/carta.css' %}" />
    <br />
    <section class="carousel">
      <div class="image-container">
        <div class="slick-carousel">
          <div><img src="{% static 'images/1.png' %}" alt="Imagen 1" /></div>
          <div><img src="{% static 'images/2.png' %}" alt="Imagen 2" /></div>
          <div><img src="{% static 'images/3.png' %}" alt="Imagen 3" /></div>
          <div><img src="{% static 'images/4.png' %}" alt="Imagen 4" /></div>
        </div>
      </div>
    </section>

    <h1 class="section-title">Nuestros Productos</h1>
    <div class="product-card">
      <section id="productos" class="products">
          {% if productos %}
          <ul>
              {% for producto in productos %}
              <li>
                  <span class="product-name">{{ producto.nombreart }}</span> - Precio: ${{ producto.precio }}
                  {% if producto.imagen %}
                  <img src="{{ producto.imagen.url }}" alt="{{ producto.nombreart }}" class="product-image" />
                  {% endif %}
              </li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No hay productos disponibles.</p>
          {% endif %}
      </section>
  </div>
    {% endblock %}
  </body>
</html>