{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ferremas - Tu ferretería de confianza</title>
</head>





<body>
{% block content %}
  <br>
  <section class="carousel">
    <div class="image-container">
      <div class="slick-carousel">
        <div><img src="{% static 'images/1.png' %}" alt="Imagen 1"></div>
        <div><img src="{% static 'images/2.png' %}" alt="Imagen 2"></div>
        <div><img src="{% static 'images/3.png' %}" alt="Imagen 3"></div>
        <div><img src="{% static 'images/4.png' %}" alt="Imagen 4"></div>
      </div>
    </div>
  </section>

  <h1 class="section-title">Nuestros Productos</h1>
  
  <section id="productos" class="products">
    {% for product in products %}
    <div class="product">
      <h3 class="product-name">{{ product.name }}</h3>
      <div class="image-product-container">
        <img src="{% static 'images/Gancho.png' %}" alt="{{ product.name }}">
      </div>
      <div class="product-info">
        <p><strong>Precio:</strong> ${{ product.price }}</p>
        <p><strong>Stock Disponible:</strong> {{ product.stock }} unidades</p>
      </div>
      <button class="add-to-cart-btn" onclick="addToCart('{{ product.name }}', {{ product.price }})">Agregar al carrito</button>
    </div>
    {% empty %}
    <p>No hay productos disponibles.</p>
    {% endfor %}
  </section>
{% endblock %}
</body>
</html>
