<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Login o Registrarse - Ferremas</title>
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }
        .form-container {
            width: 360px;
            margin: 50px auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .form-container h2 {
            margin-bottom: 30px;
            text-align: center;
        }
        .form-container form input[type="text"],
        .form-container form input[type="email"],
        .form-container form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-sizing: border-box;
        }
        .form-container form button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        .form-container form button:hover {
            background-color: #0056b3;
        }
        .success-message {
            display: none;
            text-align: center;
            margin-top: 20px;
        }
        .toggle-form {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static 'images/Ferremas_blanco.png' %}" width="40" height="40" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-container" id="formContainer">
                    <!-- Login Form -->
                    <form id="loginForm" style="display: block;" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <h2>Iniciar sesión</h2>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Correo" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                        <p id="errorMessage" class="error"></p>
                        <div class="toggle-form">
                            <p>¿No tienes una cuenta? <a href="#" onclick="toggleForm()">Registrate</a></p>
                        </div>
                    </form>

                    <!-- Registration Form -->
                    <form id="registerForm" style="display: none;" method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <h2>Registrarse</h2>
                        <div class="form-group">
                            <input type="text" name="fullName" class="form-control" placeholder="Nombre completo" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" class="form-control" placeholder="Confirmar contraseña" required>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;">
                            <input type="text" name="address" class="form-control" placeholder="Dirección" required>
                        </div>
                        <div class="form-group" style="margin-bottom: 20px;">
                            <input type="tel" name="phone" class="form-control" placeholder="Teléfono" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                        <p id="registerErrorMessage" class="error"></p>
                        <div class="toggle-form">
                            <p>¿Ya tienes una cuenta? <a href="#" onclick="toggleForm()">Inicia sesión</a></p>
                        </div>
                    </form>
                    <div class="success-message" id="successMessage">
                        <p>Te has registrado correctamente</p>
                        <button class="btn btn-success" onclick="redirectToUserPage()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-lg-start bg-body-tertiary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Síguenos en nuestras redes:</span>
            </div>
        </section>

        <section class="section">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Ferremas
                        </h6>
                        <p>Ferremas, tu ferretería favorita.</p>
                        <p>Aquí encontrarás todo lo que necesitas.</p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Dónde encontrarnos</h6>
                        <p><a href="#">Ubicación</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
                        <p><i class="fas fa-home me-3"></i>Huechuraba 1232, Santiago, RM</p>
                        <p><i class="fas fa-envelope me-3"></i>@Ferremas.cl</p>
                        <p><i class="fas fa-phone me-3"></i>+569 45185452</p>
                        <p><i class="fas fa-print me-3"></i>+569 24500063</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Compañía Ferremas:
            <a class="text-reset fw-bold" href="#">Ferremas.cl</a>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
        function validateForm(type) {
            var errorMessage = document.getElementById('errorMessage');
            var registerErrorMessage = document.getElementById('registerErrorMessage');

            if (type === 'login') {
                var email = document.getElementById('email').value.trim();
                var password = document.getElementById('password').value.trim();

                if (email === '' || password === '') {
                    errorMessage.textContent = 'Por favor, complete todos los campos.';
                    return false;
                }
                // Simular inicio de sesión correcto
                showSuccessMessage();
            } else if (type === 'register') {
                var fullName = document.getElementById('fullName').value.trim();
                var email = document.getElementById('registerEmail').value.trim();
                var password = document.getElementById('registerPassword').value.trim();
                var confirmPassword = document.getElementById('confirmPassword').value.trim();
                var address = document.getElementById('address').value.trim();
                var phone = document.getElementById('phone').value.trim();

                if (fullName === '' || email === '' || password === '' || confirmPassword === '' || address === '' || phone === '') {
                    registerErrorMessage.textContent = 'Por favor, complete todos los campos.';
                    return false;
                }

                if (password !== confirmPassword) {
                    registerErrorMessage.textContent = 'Las contraseñas no coinciden.';
                    return false;
                }
                // Simular registro correcto
                showSuccessMessage();
            }

            return false; // Evita el envío del formulario real
        }

        function showSuccessMessage() {
            var successMessage = document.getElementById('successMessage');
            successMessage.style.display = 'block';
        }

        function redirectToUserPage() {
            window.location.href = "InicioUsuario.html"; // Cambiar a la página deseada
        }

        function toggleForm() {
            var loginForm = document.getElementById('loginForm');
            var registerForm = document.getElementById('registerForm');
            var formContainer = document.getElementById('formContainer');

            if (loginForm.style.display === 'block') {
                loginForm.style.display = 'none';
                registerForm.style.display = 'block';
                formContainer.getElementsByTagName('h2')[0].textContent = 'Registro';
                document.getElementById('errorMessage').textContent = '';
                document.getElementById('email').value = '';
                document.getElementById('password').value = '';
                document.getElementById('fullName').value = '';
                document.getElementById('registerEmail').value = '';
                document.getElementById('registerPassword').value = '';
                document.getElementById('confirmPassword').value = '';
                document.getElementById('address').value = ''; // Resetear campo de dirección
                document.getElementById('phone').value = ''; // Resetear campo de teléfono
                document.getElementById('toggleLink').innerHTML = '¿Ya tienes una cuenta? Inicia sesión';
            } else {
                loginForm.style.display = 'block';
                registerForm.style.display = 'none';
                formContainer.getElementsByTagName('h2')[0].textContent = 'Iniciar sesión';
                document.getElementById('registerErrorMessage').textContent = '';
                document.getElementById('fullName').value = '';
                document.getElementById('registerEmail').value = '';
                document.getElementById('registerPassword').value = '';
                document.getElementById('confirmPassword').value = '';
                document.getElementById('toggleLink').innerHTML = '¿No tienes una cuenta? Regístrate';
            }
        }
    </script>

</body>
</html>
